# Урок 1. Оформление ноутбука и закрепление функций и генераторов

## Задача 1

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
def Total_qty(**fruits: int):
    return sum(fruits.values())

In [2]:
test = Total_qty(apple = 3, pineapple = 6, orange = 45, banana = 15, kiwi = 1)
test

70

## Задача 2

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [3]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]

In [4]:
def positive_values_sum (full_list: list) -> int:
    return sum([i for i in full_list if i > 0])

In [5]:
test = positive_values_sum (expenses)
test

1425

## Задача 3

Даны два списка: дата покупки *date* и сумма покупок по датам *amount*, найдите, какая выручка у компании в ноябре. Используйте list comprehensions.

In [6]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
amount = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [7]:
len(date) == len(amount)

True

In [8]:
def List2_filter_based_on_list1_values(list1: list, list2: list, value_for_filtering: str) -> list:
    if len(date) != len(amount):
        return print('Different lenght of lists.')
    else:
        return [list2[i] for i in range(len(list1)) if value_for_filtering in list1[i]]

In [9]:
november_amount = List2_filter_based_on_list1_values(list2 = amount, list1 = date, value_for_filtering = "-11-")
november_amount

[4944, 3701, 7037, 4274, 2004, 2822, 316]

In [10]:
sum(november_amount)

25098

## Задача 3.1

Даны два списка: дата покупки *date* и сумма покупок по датам *amount*. Найдите выручку компании в зависимости от месяца.Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

#### Вариант 1

In [11]:
def Dictionary_from_2_lists(list1: list = date, list2: list = amount) -> dict:
    if len(date) != len(amount):
        return print('Different lenght of lists.')
    else:
        result ={}
        for i in range(len(date)):
            month = date[i][5:7] 
            if month in result.keys():
                result [month] += amount[i]
            else:
                result [month] = amount[i]
        return sorted(result.items())

In [12]:
Dictionary_from_2_lists()

[('09', 25647), ('10', 28645), ('11', 25098), ('12', 45452)]

#### Вариант 2, красивый табличный вывод

In [13]:
import pandas as pd
import datetime
 
df = pd.DataFrame()
df['Date'] = [datetime.datetime.strptime(i, '%Y-%m-%d') for i in date]
df['Amount'] = amount
df['Month'] = pd.DatetimeIndex(df['Date']).month
df.groupby('Month').sum()

       Amount
Month
9       25647
10      28645
11      25098
12      45452